{% extends "dashboard/base.html" %}

{% load static %}

{% block content %}

<div class="p-6 font-sans text-black">

    <div class="flex justify-start mb-14">
        <div class="flex flex-col items-center">
            <img class="h-16 w-auto" src="{% static 'img/bike.svg' %}"
                alt="Practice moto emergencies to better hand anticipate dangers.">
            <p class="text-sm tracking-widest font-semibold mt-1">BRAKERIDE</p>
        </div>
    </div>
    
    <section id="form_flow">
        {% include 'dashboard/form_flow.html' %}
    </section>

    <section id="response_play">
        {% include 'dashboard/response_play.html' %}
    </section>

</div>

{% endblock content %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<!-- Add ajax back when flow works -->
<script src="{% static 'js/form_flow.js' %}"></script>
{% endblock scripts %}