{% extends "dashboard/base.html" %}

{% load static %}

{% block content %}

<div class="p-6 font-sans text-black">

    <div class="flex justify-start">
        <div class="flex flex-col items-center">
            <img class="h-16 w-auto" src="{% static 'img/bike.svg' %}"
                alt="Practice moto emergencies to better hand anticipate dangers.">
            <p class="text-sm tracking-widest font-semibold mt-1">BRAKERIDE</p>
        </div>
    </div>

    <h1 class="text-xl font-normal text-center my-6">Practice moto emergencies</h1>

    <div id="formContainer">
        <form id="dashboardForm" method="post" action="{% url 'dashboard:api_endpoint' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>

    <div id="responseContainer">
        <!-- response from server here -->
    </div>

</div>

{% endblock content %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock scripts %}