{% load static %}

<section id="footer">
    <div class="p-6 bg-gray-200">
        <div class="flex flex-col items-start space-y-4">
            <img class="h-8 w-auto" src="{% static 'img/bike.svg' %}"
                alt="Practice moto emergencies to better hand anticipate dangers.">
            <a class="text-sm" href="#"><span class="font-medium">More info:</span><br>FAQ (in Medium)</a>
            <a class="text-sm" href="https://medium.com/@brakeride"><span class="font-medium">Socials:</span><br>Medium</a>
            <p class="text-sm"><span class="font-medium">Get in touch:</span><br>brakeride@proton.me</p>
            <p class="text-sm">© 2023</p>
        </div>
    </div>
</section>
