{% load static %}

<section id="footer">
    <div class="p-6 bg-white">
        <div class="flex flex-col items-start space-y-4">
            <img class="h-8 w-auto" src="{% static 'img/bike.svg' %}"
                alt="Practice moto emergencies with randomized audio cues">
            <a class="text-sm" href="https://medium.com/@brakeride/brakeride-faq-b85dba3fe84e"><span class="font-medium">More info:</span><br>FAQ (in Medium)</a>
            <a class="text-sm" href="https://medium.com/@brakeride"><span class="font-medium">Stories & blog:</span><br>Medium</a>
            <a class="text-sm" href="https://www.youtube.com/@Brakeride"><span class="font-medium">Video:</span><br>Youtube</a>
            <p class="text-sm"><span class="font-medium">Get in touch:</span><br>brakeride@proton.me</p>
            <p class="text-sm">© 2023</p>
        </div>
    </div>
</section>
