{% load static %}

{% block content %}

<div class="font-sans" id="formContainer">
    <form id="dashboardForm" method="post" action="{% url 'dashboard:api_endpoint' %}">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="form-step" id="ep_or_ct">

            <h2 class="text-base font-medium text-center">Choose the practice type</h2>

            <button id="ep_choice">Emergency practice session</button>
            <button id="ct_choice">City traffic practice session</button>

        </div>

        <div class="form-step" id="ep_or_ct_practice_ex_comp" style="display:none">

            <h2 class="text-base font-medium text-center">Choose the exercises</h2>

            {% if %}
            {% else %}
            {% endif %}

            <button id="back_to_ep_ct">Back</button>
            <button type="ex_comp_submit">Next</button>
        </div>

        <div class="form-step" id="busy_or_surprise">

            <h2 class="text-base font-medium text-center">Choose the mode</h2>

            <button id="busy_choice">Busy mode</button>
            <button id="surprise_choice">Surprise mode</button>

            <button id="back_to_ex_comp">Back</button>

        </div>

        <div class="form-step" id="15_30_60_ses_duration">

            <h2 class="text-base font-medium text-center">Choose the session duration</h2>

            <button id="du15_choice">15 minutes</button>
            <button id="du30_choice">30 minutes</button>
            <button id="du60_choice">60 minutes</button>

            <button id="back_to_busy_surprise">Back</button>

        </div>

        <div class="form-step" id="1_5_15_start_delay">

            <h2 class="text-base font-medium text-center">Choose the start delay</h2>

            <button id="de1_choice">1 minute</button>
            <button id="de5_choice">5 minutes</button>
            <button id="de15_choice">15 minutes</button>

            <button id="back_to_ses_duration">Back</button>

        </div>

        <div class="form-step" id="" style="display:none">

            <h2 class="text-base font-medium text-center">Agree to terms and start session</h2>
            <p class="text-base font-medium text-center">
                Terms: I agree not to danger myself or others when practicing. I will not do any unexpected moves in
                traffic. I will consider my riding skill and act accordingly.
            </p>

            <button id="back_to_start_delay">Back</button>
            <button type="final_submit">I Agree - Start the session</button>

        </div>

    </form>
</div>

<div id="responseContainer"></div>

{% endblock content %}