@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.form-step {
    display: none;
}

.form-step.active {
    display: block;
}

/* need to hide, as it branches per choice 1. inside this form-step */
#ep_ex,
#ct_ex {
    display: none;
}